<title>Crear Corredor</title>
{% extends "base.html" %}
{% load static %}

{% block content %}

</head>
<body>
    <!-- <div class="container-fluid py-4">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header pb-0">
              <div class="d-flex align-items-center">
              
                
              </div>
            </div> -->
            
            <!-- <form class="card-body">
              
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">Nombre</label>
                      <input class="form-control" type="text" value="" maxlength="64" id="name" name="name" pattern="[a-zA-Z]+" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">Apellido</label>
                      <input class="form-control" type="text" value="" maxlength="64" id="lname" name="lname" pattern="[a-zA-Z]+" required>
                    </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="example-number-input" class="form-control-label">DNI</label>
                    <input class="form-control" type="number" value="" id="dni" name="dni" required>
                  </div>
                </div>
              </div>
              <p class="text-uppercase text-sm">Contacto</p>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Celular</label>
                    <input class="form-control" type="text" value="" maxlength="10" minlength="10" pattern="[0-9]+" required>
                  </div>
                </div> <br>
                <hr class="horizontal dark">
                <div class="col-md-4">
                <div class="form-group">
                  <input type="submit" class="btn btn-primary" value="Guardar">
                </div>
              </div>
              </div>
              
            </form> -->
          <!-- </div>
        </div>
    </div> -->

  
  {% endblock %}