<title>Comenzar una carrera</title>
{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="main-content position-relative max-height-vh-100 h-100">
    
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="d-flex align-items-center table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
            
                        <th class="font-weight-bold text-dark">ID Carrera</th>
                        <th class="font-weight-bold text-dark">Nombre Carrera</th>
                        <th class="font-weight-bold text-dark">Vueltas</th>
                        <th class="font-weight-bold text-dark">Fecha de creación</th>
                        <th class="font-weight-bold text-dark">Estado</th>
                        <th class="font-weight-bold text-dark">-</th>
                    </tr>
                  </thead>
                  {% for c in carreras%}
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{c.idRace}}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-sm font-weight-bold text-dark mb-0">{{c.name}}</p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <p class="text-xs text-dark mb-0 font-weight-bold">{{c.lapNumber}}</p>
                      </td>
                      <td class="align-middle text-center">
            
                        <span class="text-dark font-weight-bold">{{c.date|date:"d/m/Y"}}</span>
                        <!-- class="text-secondary text-xs font-weight-bold" -->
                      </td>
                      <td class="align-middle">
                        {% if c.active == True %}
                        <span class="badge badge-sm bg-gradient-success">Activa</span>
                        {% else %}
                        <span class="badge badge-sm bg-gradient-danger">Inactiva</span>
                        {% endif %}
                        <!-- <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          Ver
                        </a> -->
                      </td>
                      <td><a href="#">Ver</a></td>
                    </tr>
                    
                  </tbody>
                  {% endfor %}
                </table>
              </div>
            </div>
            <!-- <form class="card-body">        
              <div class="row">
                <div class="col-md-24">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">Carreras disponibles</label>
                    </div>
                </div>
                
              </div>
              
              
              <p class="text-uppercase text-sm">Seleccionar corredores</p>
                <div class="col-md-24">
                  <div class="form-group table-responsive">
                    <label for="racers">Elegí los corredores (Si no lo ves aquí HABILITA AL CORREDOR):</label><br><br>

                    <select name="racers" id="cars" multiple size="20" class="col-md-24" >
                      
                        <option value="volvo"> <td> 2 | Juan González Peralta</td> </option>
                        <option value="volvo"> <td> 3 | Juan González Peralta</td></option>
                        <option value="volvo"> <td> 4 | Juan González Peralta</td> </option>
                        <option value="volvo"> <td> 5 | González Peralta</td> </option>
                        <option value="volvo"> <td> 6 | González Peralta</td> </option>
                        <option value="volvo"> <td> 7 | González Peralta</td> </option>
                        <option value="volvo"> <td>  8 | González Peralta</td></option>
                        <option value="volvo"> <td>9 | González Peralta</td> </option>
                        <option value="volvo"> <td>10 | González Peralta</td> </option>
                        <option value="volvo"> <td> 11 | González Peralta</td> </option>
                        <option value="volvo"> <td> 12 | González Peralta</td> </option>
                        <option value="volvo"> <td> 13 | González Peralta</td> </option>
                        <option value="volvo"> <td> 14 | González Peralta</td> </option>
                        
                    </select>
                  </div>
                </div> <br>
                <hr class="horizontal dark"><br><br>
                <div class="col-md-4">
                <div class="form-group">
                  <input type="submit" class="btn btn-primary" value="Guardar carrera">
                </div>
              </div>
              </div>
              
            </form> -->

            
          </div>
        </div>
    </div>
  </div>
  
  {% endblock %}