<title>Crear Carrera</title>
{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="main-content position-relative max-height-vh-100 h-100">
    
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="d-flex align-items-center">
                <p class="mb-0"><strong>Detalles de Carrera</strong></p>
                
              </div>
            </div>
            <form class="card-body" method="post" id="form"> {% csrf_token %}         
              <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">Nombre de Carrera</label>
                      <input class="form-control" type="text" value="" min="5" maxlength="32" id="name" name="name" pattern="[A-Za-z0-9 ]*" required>
                    </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="example-number-input" class="form-control-label">Seleccione cantidad de vueltas</label><br>
                  <select class="" id="laps" name="laps" required><br><br>
                    <option value="1">1 Vuelta</option>
                    <option value="2">2 Vueltas</option>
                    <option value="3">3 Vueltas</option>
                    <option value="4">4 Vueltas</option>
                    <option value="5">5 Vueltas</option>
                  </select>
                </div>
                
              </div>
 
                <hr class="horizontal dark"><br><br>
                <div class="col-md-4">
                <div class="form-group">
                  <input type="submit" class="btn btn-primary" value="Guardar carrera">
                </div>
              </div>
              </div>
              
            </form>
          </div>
        </div>
    </div>
  </div>

<script>
    document.addEventListener('DOMContentLoaded', function(){
    const btnSave = document.getElementById('btnSave');
    const form = document.getElementById('form');

    form.addEventListener('submit', function(event) {
        event.preventDefault();
        Swal.fire({
            title: 'Nueva Carrera',
            text: '¿Estás seguro de guardar los datos?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Sí',
            cancelButtonText: 'No'
        }).then((result) => {
            if (result.isConfirmed) {
                // Si el usuario confirma, envía el formulario para guardar el producto
                form.submit();
            }
        });
    });
    });    
</script>
  
  {% endblock %}