<title>Mostrar Carreras Finalizadas</title>
{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="main-content position-relative max-height-vh-100 h-100">
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="d-flex align-items-center table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
            
                        <th class="font-weight-bold text-dark">ID Carrera</th>
                        <th class="font-weight-bold text-dark">Nombre Carrera</th>
                        <th class="font-weight-bold text-dark">Vueltas</th>
                        <th class="font-weight-bold text-dark">Fecha de creación</th>
                        <th class="font-weight-bold text-dark">Estado</th>
                        <th class="font-weight-bold text-dark">-</th>
                    </tr>
                  </thead>
                  {% for r in races %}
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{c.idRace}}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-sm font-weight-bold text-dark mb-0">{{r.name}}</p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <p class="text-xs text-dark mb-0 font-weight-bold">{{r.lapNumber}}</p>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-dark font-weight-bold">{{r.date|date:"d/m/Y"}}</span>
                      </td>
                      <td class="align-middle">
                        {% if r.active == True %}
                        <span class="badge badge-sm bg-gradient-success">Activa</span>
                        {% else %}
                        <span class="badge badge-sm bg-gradient-danger">Inactiva</span>
                        {% endif %}
                      </td>
                      <td><a href="?idRace={{r.idRace}}">Ver</a></td>
                    </tr>
                    
                  </tbody>
                  {% endfor %}
                </table>
              </div>
            </div>         
          </div>
        </div>
    </div>
  </div>

<!-- EDITING PAST RACE -->
{% if idRace %}
    {% if results %}
<div class="main-content position-relative max-height-vh-100 h-100">
    
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="d-flex align-items-center table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
            
                        <th class="font-weight-bold text-dark">ID Resultado</th>
                        <th class="font-weight-bold text-dark">ID Carrera</th>
                        <th class="font-weight-bold text-dark">ID Corredor</th>
                        <th class="font-weight-bold text-dark">Número de Vueltas</th>
                        <th class="font-weight-bold text-dark">Tiempos</th>
                        <th class="font-weight-bold text-dark">-</th>
                    </tr>
                  </thead>
                  
                        {% for r in results %}
                        <tbody>
                            <tr>
                            <td>
                                <div class="d-flex px-2 py-1">
                                <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-sm">{{r.idStartRace}}</h6>
                                </div>
                                </div>
                            </td>
                            <td>
                                <p class="text-sm font-weight-bold text-dark mb-0">{{r.idRace.idRace}}</p>
                            </td>
                            <td class="align-middle text-center text-sm">
                                <p class="text-xs text-dark mb-0 font-weight-bold">{{r.idRacer.idRacer}}</p>
                            </td>
                            <td class="align-middle text-center">
                    
                                <span class="text-dark font-weight-bold">{{r.lap_num}}</span>
                            </td>
                            <td class="align-middle">
                                {{r.lap}}
                            </td>
                            <td><a href="?idRace={{r.idRace}}">Ver</a></td>
                            </tr>
                            
                        </tbody>
                        {% endfor %}
    {% else %}
                    <div class="main-content position-relative max-height-vh-100 h-100">
                        <h4 class="text-center text-danger">No se encontraron resultados</h4>
                    </div>
    {% endif %}
                </table>
              </div>
            </div>         
          </div>
        </div>
    </div>
  </div> 

{% endif %}

{% endblock %}
